@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --purple: rgb(68, 135, 121);
  --purple-dark: rgb(38, 78, 77);

  font-size: 62.5%; /* 1rem = 10px */
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  background: var(--purple);
  margin: 0;
  padding: 0;

  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.5em;

  height: 100vh;

  display: flex;
  align-items: center;
}

.container {
  width: min(90%, 640px);

  margin-inline: auto;
  padding: 2rem;
  background: #ffffff;

  border-radius: 0.7rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translateY(-10%);
}

.container h1 {
  font-size: 3rem;
}

.generated-password {
  font-size: 4rem;
  margin-bottom: 2rem;

  color: var(--purple);
}

.input-control {
  display: flex;
  align-items: center;
  gap: 1rem;
}

form label {
  font-size: 2rem;
}

form input[type="checkbox"] {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

button {
  border: none;
  background-color: var(--purple);
  color: white;

  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.5em;

  border-radius: 0.7rem;

  margin-top: 3rem;

  cursor: pointer;

  height: 4rem;

  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--purple-dark);
}

button:active {
  transform: scale(98%);
}
